# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Auto-import
.idea/modules.xml
.idea/*.iml
.idea/modules

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Test java project
test_data/.idea/**
test_data/test_data.iml
test_outs/**
venv/**

# CMake
cmake-build-*/
